<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
<a href="/">Go back to the main page</a>
</p>

<table>
  <tr>
    <th>Method</th>
    <th>Count</th>
  </tr>
  <tr>
    <td>GET</td>
    <td>{{get_number_of_requests}}</td>
  </tr>
    <td>POST</td>
    <td>{{post_number_of_requests}}</td>
  </tr>
   </tr>
    <td>DELETE</td>
    <td>{{var_delete}}</td>
  </tr>
   </tr>
    <td>PUT</td>
    <td>{{var_put}}</td>
  </tr>
</table>


</body>
</html>